# Server config
server:
  port: 8080

spring:
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5432/capstone_backend?characterEncoding=utf8
    driver-class-name: org.postgresql.Driver
    username: daewon
    password: qkqh123
    # hibernate config
#    hikari:
#      data-source-properties:
#        cachePrepStmts: true
#          prepStmtCacheSize: 250
#          prepStmtCacheSqlLimit: 2048
#          useServerPrepStmts: true

  jpa:
    database: postgresql
    hibernate:
      naming:
        strategy: org.hibernate.cfg.ImprovedNamingStrategy
#        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    #    ddl-auto: create
    #    show-sql: true         # system.out 대신 logger를 쓰고 싶다면 spring.jpa.hibernate.properties.show_sql 은 사용하지 말자.
    properties:
      hibernate:
        enable_lazy_load_no_trans: true

logging.level:
  org.hibernate.SQL: debug